<div class="insp-schedule">
  <div class="latest_data newLatestData">
    <div class="border_line">
      <span class="tr"></span>
      <span class="tb"></span>
      <span class="rt"></span>
      <span class="rb"></span>
    </div>
    <p class="title">管网巡检指派进度</p>
    <div class="list_data">
      <div class="line_item line_head">
        <span>巡检地区名称</span>
        <span>巡检管线名称</span>
        <span>巡检起始点</span>
        <span>巡检结束点</span>
        <span>巡检任务接收时间</span>
        <span>巡检任务结束时间</span>
      </div>
      <div id="data_body">
        <div class="line_item">
          <span>白云区云城尚品</span>
          <span>雨污合流01</span>
          <span>w01</span>
          <span>w10</span>
          <span>2018/12/20</span>
          <span>2018/12/20</span>
        </div>
        <div class="line_item">
          <span>白云区云城尚品</span>
          <span>雨污合流01</span>
          <span>w01</span>
          <span>w10</span>
          <span>2018/12/20</span>
          <span>2018/12/20</span>
        </div>
        <div class="line_item">
          <span>白云区云城尚品</span>
          <span>雨污合流01</span>
          <span>w01</span>
          <span>w10</span>
          <span>2018/12/20</span>
          <span>2018/12/20</span>
        </div>
        <div class="line_item">
          <span>白云区云城尚品</span>
          <span>雨污合流01</span>
          <span>w01</span>
          <span>w10</span>
          <span>2018/12/20</span>
          <span>2018/12/20</span>
        </div>
        <div class="line_item">
          <span>白云区云城尚品</span>
          <span>雨污合流01</span>
          <span>w01</span>
          <span>w10</span>
          <span>2018/12/20</span>
          <span>2018/12/20</span>
        </div>
        <div class="line_item">
          <span>白云区云城尚品</span>
          <span>雨污合流01</span>
          <span>w01</span>
          <span>w10</span>
          <span>2018/12/20</span>
          <span>2018/12/20</span>
        </div>
      </div>
    </div>
  </div>
</div>

