<div class="trouble">
  <h1>故障处理</h1>
  <div class="ui-g">
    <div class="trouble-left ui-g-8">
      <rbi-trouble-map></rbi-trouble-map>
      <div class="ui-g-6">
        <rbi-trouble-proportion></rbi-trouble-proportion>
      </div>
      <div class="ui-g-6">
        <rbi-trouble-worker></rbi-trouble-worker>
      </div>
    </div>
    <div class="trouble-right ui-g-4">
     <rbi-trouble-event></rbi-trouble-event>
      <rbi-trouble-statistics></rbi-trouble-statistics>
    </div>
  </div>
</div>

