<div class="latest_data newLatestData">
  <div class="border_line">
    <span class="tr"></span>
    <span class="tb"></span>
    <span class="rt"></span>
    <span class="rb"></span>
  </div>
  <p class="title">事件列表</p>
  <div class="list_data">
    <div class="line_item line_head">
      <span>异常目标ID</span>
      <span>异常时间</span>
      <span>异常类型</span>
      <span>坐标</span>
      <span>异常状态</span>
      <span>问题类型</span>
      <span>操作</span>
    </div>
    <div class="data_body">
      <div class="line_item">
        <span>w01</span>
        <span>2019/12/23 16：00</span>
        <span>井盖</span>
        <span>白云区大山洞1号井盖</span>
        <span>水位：5.61</span>
        <span>井盖丢失</span>
        <span><button class="ui-button-danger">指派</button></span>
      </div>
      <div class="line_item">
        <span>w01</span>
        <span>2019/12/23 16：00</span>
        <span>井盖</span>
        <span>白云区大山洞1号井盖</span>
        <span>水位：5.61</span>
        <span>井盖丢失</span>
        <span><button class="ui-button-danger">指派</button></span>
      </div>
      <div class="line_item">
        <span>w01</span>
        <span>2019/12/23 16：00</span>
        <span>井盖</span>
        <span>白云区大山洞1号井盖</span>
        <span>水位：5.61</span>
        <span>井盖丢失</span>
        <span><button class="ui-button-danger">指派</button></span>
      </div>
      <div class="line_item">
        <span>w01</span>
        <span>2019/12/23 16：00</span>
        <span>井盖</span>
        <span>白云区大山洞1号井盖</span>
        <span>水位：5.61</span>
        <span>井盖丢失</span>
        <span><button class="ui-button-danger">指派</button></span>
      </div>
      <div class="line_item">
        <span>w01</span>
        <span>2019/12/23 16：00</span>
        <span>井盖</span>
        <span>白云区大山洞1号井盖</span>
        <span>水位：5.61</span>
        <span>井盖丢失</span>
        <span><button class="ui-button-danger">指派</button></span>
      </div>
      <div class="line_item">
        <span>w01</span>
        <span>2019/12/23 16：00</span>
        <span>井盖</span>
        <span>白云区大山洞1号井盖</span>
        <span>水位：5.61</span>
        <span>井盖丢失</span>
        <span><button class="ui-button-danger">指派</button></span>
      </div>
    </div>
  </div>
</div>
