<div class="latest_data newLatestData">
  <div class="border_line">
    <span class="tr"></span>
    <span class="tb"></span>
    <span class="rt"></span>
    <span class="rb"></span>
  </div>
  <div class="ui-g">
    <div class="title ui-g-2">
      <p>事件列表</p>
    </div>
    <div class="radioButton ui-g-6">
      <p-radioButton name="group1" value="1" label="今日" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
      <p-radioButton name="group1" value="2" label="本周" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
      <p-radioButton name="group1" value="3" label="本月" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
      <p-radioButton name="group1" value="4" label="本年" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
    </div>
    <div class="box ui-g-4">
        <p-dropdown class="drop-box" [options]="items" [(ngModel)]="item" placeholder="7081-0号管线" [itemSize]="20"></p-dropdown>
    </div>
  </div>
  <div class="ui-g-12 list_data">
    <div class="line_item line_head">
      <span *ngFor="let i of head">{{i.header}}</span>
    </div>
    <div class="data_body">
      <div class="line_item" *ngFor="let item of tableContent">
        <span>{{item?.eventTargetId}}</span>
        <span>{{item?.currentTime}}</span>
        <span>{{item?.targetType}}</span>
        <span>{{item?.waterLevel}}</span>
        <span>{{item?.eventType}}</span>
        <span>{{item?.eventState}}</span>
      </div>
    </div>
  </div>
</div>
