<div class="insp-recording">
  <div class="latest_data newLatestData">
    <div class="border_line">
      <span class="tr"></span>
      <span class="tb"></span>
      <span class="rt"></span>
      <span class="rb"></span>
    </div>
    <p class="title">管网巡检记录</p>
    <div class="list_data">
      <div class="line_item line_head">
        <span>巡检地区名称</span>
        <span>巡检人</span>
        <span>巡检人ID</span>
        <span>巡检指派时间</span>
        <span>巡检管线名称</span>
        <span>接收任务时间</span>
        <span>巡检完成时间</span>
        <span>巡检结果</span>
      </div>
      <div id="data_body">
        <div class="line_item">
          <span>白云区云城尚品</span>
          <span>张三</span>
          <span>4896641</span>
          <span>2018/12/20</span>
          <span>雨污合流01</span>
          <span>2018/12/30</span>
          <span>2018/12/31</span>
          <span>合格</span>
        </div>
        <div class="line_item">
          <span>白云区云城尚品</span>
          <span>张三</span>
          <span>4896641</span>
          <span>2018/12/20</span>
          <span>雨污合流01</span>
          <span>2018/12/30</span>
          <span>2018/12/31</span>
          <span>合格</span>
        </div>
      </div>
    </div>
  </div>
</div>

