<div class="latest_data newLatestData">
  <div class="border_line">
    <span class="tr"></span>
    <span class="tb"></span>
    <span class="rt"></span>
    <span class="rb"></span>
  </div>
  <p class="title">实时异常事件列表</p>
  <div class="ui-g-12 list_data">
    <div class="line_item line_head">
      <span *ngFor="let i of head">{{i.header}}</span>
    </div>
    <div class="data_body">
      <div class="line_item" *ngFor="let item of exceptionList;">
        <span>{{item?.currentTime}}</span>
        <span>{{item?.targetType}}</span>
        <span>{{item?.position}}</span>
        <span>{{item?.eventType}}</span>
      </div>
    </div>
 </div>
</div>
